<div class="background-image-container">
  <div class="container">
    <div class="jumbotron jumbotron-fluid">
      <div class="d-flex flex-wrap">
        <div class="text-container">
          <h1 class="display-3 heading">RAIITH</h1>
          <div class="lead">
            <p>Research Archive of Indian Institute of Technology Hydereabad</p>
            <!-- <p class="lead">
              <br><br><br><br><br><br><br>
            </p> -->
          </div>
        </div>
      </div>

      <!-- To add stats here as news, total article count left side,   -->
      <div class="media-feed">
        <div class="media-item-list">
          <div class="media-item">
            <div class="media-item-num">{{ numberOfCollections }}</div>
            <div class="media-item-text">Collections</div>
          </div>
          <div class="media-item">
            <div class="media-item-num">{{ numberOfCommunities }}</div>
            <div class="media-item-text">Communities</div>
          </div>
          <div class="media-item">
            <div class="media-item-num">10</div>
            <div class="media-item-text">Total Articles</div>
          </div>
          <div class="media-item">
            <div class="media-item-num">10</div>
            <div class="media-item-text">Total Articles</div>
          </div>
        </div>
      </div>
    </div>
    <picture class="background-image">
      <!-- <source type="image/webp" srcset="assets/dspace/images/banner.webp 2000w, assets/dspace/images/banner-half.webp 1200w, assets/dspace/images/banner-tall.webp 768w"> -->
      <source
        type="image/jpg"
        srcset="
          assets/dspace/images/iithbanner.jpg 2000w,
          assets/dspace/images/iithbanner.jpg 1200w,
          assets/dspace/images/iithbanner.jpg  768w
        "
      />
      <img
        alt=""
        [src]="'assets/dspace/images/iithbanner.jpg'"
      /><!-- without the []="''" Firefox downloads both the fallback and the resolved image -->
    </picture>
  </div>
  <!-- <small class="credits">Photo by <a href="https://www.pexels.com/@inspiredimages">@inspiredimages</a></small> -->
</div>
